@import "../../sass/variable.scss";
@import "../../sass/main.scss";
.header__con {
  position: sticky;
  top: 0;
  background-color: $light !important;
  z-index: 9;
}
.header__input {
  outline: 0 !important;
  background-color: transparent;
  border: 0 !important;
  input {
    @extend .header__input;
    padding: 0.3rem;

    &::placeholder {
      color: #000;
      font-size: 0.7rem;
    }
    &::after {
      display: none !important;
    }
    &::before {
      display: none !important;
    }
  }

  &__box {
    background: #f8f8f8;
    padding: 0.2rem 0.5rem;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }
}
.link {
  @include link();
  font-family: "russo" !important;
  font-size: 1.1rem;
  font-weight: bold;
}
