@import "../../sass/variable.scss";
@import "../../sass/main.scss";

.header__input {
  outline: 0;
  background-color: transparent;
  border: 1px solid #fff;
  height: auto;
  width: auto;
  color: #fff;
  padding: 0.5rem 0.2rem;
  border-radius: 4px;
}
.link {
  @include link();
  font-size: 1.2rem;
  font-family: serif;
}
