// imports
@import "../../sass/variable.scss";
@import "../../sass/main.scss";

.sidebar {
  position: fixed;
  top: 0;
  background-color: $info;
  padding: 1rem 1.2rem;
  bottom: 0;
  &__link {
    @include link();
    font-family: "popines";
    font-weight: 500;
  }
  &__logo {
    width: 50px;
    height: 50px;
  }
}
