// imports
@import "../../sass/variable.scss";
@import "../../sass/main.scss";

.sidebar {
  position: fixed;
  top: 0;
  background-color: $info;
  padding: 0.8rem 1.2rem;
  bottom: 0;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &__link {
    @include link();
    font-family: "popines";
    font-weight: 500;
    padding: 0.3rem;
    border-radius: 10px;
    transition: 0.4s ease-in;
    transition: color 0.2s ease-out;
    cursor: pointer;

    &:hover {
      color: #f8f8f8;
      background-color: $primary;
    }
  }
  &__logo {
    width: 40px;
    aspect-ratio: 1;
  }
}
