.bg__gradient {
  background: linear-gradient(to left, rgb(237, 237, 187), rgb(247, 185, 202));
}
.home__wrapper {
  display: flex;
  position: relative;
}
.content__wrapper {
  flex: 1;
  margin-left: 250px;
}
