@import "../../sass/main.scss";
@import "../../sass/variable.scss";

.home {
  background-color: #f8f8f8;
  font-family: "russo" !important;
}
.card {
  border-radius: 10px !important;
  padding: 1rem;
  height: 100px;
  &__hikes {
    font-weight: bold !important;
  }
}
