:root {
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "popines";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "flick";
  src: url("./assets/fonts/flick-lg.ttf");
}
@font-face {
  font-family: "fountain";
  src: url("./assets/fonts/fountain.ttf");
}
@font-face {
  font-family: "russo";
  src: url("./assets/fonts/russo.ttf");
}
